.info-table-buttons {
    display: flex;
}

.info-table-buttons > * {
    margin-right: 10px;
    margin-left: 0;
}

.form-content {
    border-radius: 6px;
    max-width: 600px;
    padding: 40px;
    width: 100%;
    margin: 40px auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px !important;
}

.form-content .ant-col {
    padding: 0 !important;
}

.form-content .ant-row {
    margin: 0 !important;
}

.form-content .ant-input {
    width: 100%;
}
