<<<<<<< HEAD
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.items-center {
    align-items: center;
}
.gap-1 {
    gap: 5px;
}
.gap-2 {
    gap: 10px;
}
.gap-4 {
    gap: 15px;
}
.gap-6 {
    gap: 20px;
}
.gap-6 {
    gap: 25px;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.main-box {
    overflow: auto;
}
.input-control {
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 2px 5px;
    font-weight: 400;
    width: 100px;
    margin-top: 5px;
    opacity: 1;
}
.main-table {
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid rgb(221, 221, 221);
}
.main-table th,
.main-table td {
    padding: 10px;
}
.main-table th {
    opacity: 0.8;
    font-size: 12px;
}
.refresh {
    background: #3b71ca;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    font-size: 13px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.infoBtn {
    padding: 5px 15px;
    background: #3b71ca;
    color: white;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
}
.infoBtn:first-child {
    margin-bottom: 8px;
}
.pagenation-box {
    margin-top: 20px;
}
=======
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.items-center {
    align-items: center;
}
.gap-1 {
    gap: 5px;
}
.gap-2 {
    gap: 10px;
}
.gap-4 {
    gap: 15px;
}
.gap-6 {
    gap: 20px;
}
.gap-6 {
    gap: 25px;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.main-box {
    overflow: auto;
}
.input-control {
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 2px 5px;
    font-weight: 400;
    width: 100px;
    margin-top: 5px;
    opacity: 1;
}
.main-table {
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid rgb(221, 221, 221);
}
.main-table th,
.main-table td {
    padding: 10px;
}
.main-table th {
    opacity: 0.8;
    font-size: 12px;
}
.refresh {
    background: #3b71ca;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    font-size: 13px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.infoBtn {
    padding: 5px 15px;
    background: #3b71ca;
    color: white;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
}
.infoBtn:first-child {
    margin-bottom: 8px;
}
.pagenation-box {
    margin-top: 20px;
}
>>>>>>> 9456746e065c2a67869e6d4b87da5193b7626138
